<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CaseStudyProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.ibm.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ARegister</display-name>
    <servlet-name>ARegister</servlet-name>
    <servlet-class>com.ibm.ARegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ARegister</servlet-name>
    <url-pattern>/ARegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>URegister</display-name>
    <servlet-name>URegister</servlet-name>
    <servlet-class>com.ibm.URegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>URegister</servlet-name>
    <url-pattern>/URegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Userlogin</display-name>
    <servlet-name>Userlogin</servlet-name>
    <servlet-class>com.ibm.Userlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Userlogin</servlet-name>
    <url-pattern>/Userlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookTicket</display-name>
    <servlet-name>BookTicket</servlet-name>
    <servlet-class>com.ibm.BookTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookTicket</servlet-name>
    <url-pattern>/BookTicket</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookConfirmation</display-name>
    <servlet-name>BookConfirmation</servlet-name>
    <servlet-class>com.ibm.BookConfirmation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookConfirmation</servlet-name>
    <url-pattern>/BookConfirmation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewBookings</display-name>
    <servlet-name>ViewBookings</servlet-name>
    <servlet-class>com.ibm.ViewBookings</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBookings</servlet-name>
    <url-pattern>/ViewBookings</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewUser</display-name>
    <servlet-name>ViewUser</servlet-name>
    <servlet-class>com.ibm.ViewUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUser</servlet-name>
    <url-pattern>/ViewUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutPage</display-name>
    <servlet-name>LogoutPage</servlet-name>
    <servlet-class>com.ibm.LogoutPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutPage</servlet-name>
    <url-pattern>/LogoutPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTrain</display-name>
    <servlet-name>AddTrain</servlet-name>
    <servlet-class>com.ibm.AddTrain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTrain</servlet-name>
    <url-pattern>/AddTrain</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewTrains</display-name>
    <servlet-name>ViewTrains</servlet-name>
    <servlet-class>com.ibm.ViewTrains</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTrains</servlet-name>
    <url-pattern>/ViewTrains</url-pattern>
  </servlet-mapping>
</web-app>